/****************************/
/*          Body            */
/****************************/

body {
  background: url('https://static.aislesociety.com/marry-me-tampa-bay/light-blue-tan-rustic-florida-wedding/thumb_a5f2d41d-a747-381a-ac18-029a47b38c9d.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/****************************/
/*   Header and Navigation  */
/****************************/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
  text-decoration: none;
  font-family: 'Crimson Text', serif;
  background: rgba(255, 255, 255, 0.5);
}

.nav {
  text-decoration: none;
  color: black;
}

.nav:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: center;
  height: 630px;
  width: 100%;
}

/****************************/
/*      Home Component      */
/****************************/

.home-main {
  font-family: 'Crimson Text', serif;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-align: center;
  height: 500px;
}

/****************************/
/*  Accomodations Component */
/****************************/

.accomodations-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Crimson Text', serif;
  background: rgba(255, 255, 255, 0.5);
}

button {
  padding: 10px;
  font-family: 'Crimson Text', serif;
  font-size: 15px;
  background-color: #9DCEAA;
  color: white;
}

button:hover {
  background-color: white;
  color: navy;
}

/****************************/
/*    Location Component    */
/****************************/

.location-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Crimson Text', serif;
  background: rgba(255, 255, 255, 0.5);
}

#map {
  text-align: center;
}

/****************************/
/*     Events Component     */
/****************************/

.events-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Crimson Text', serif;
  background: rgba(255, 255, 255, 0.5);
}
