/****************************/
/*          Body            */
/****************************/

body {
  background: url('https://i.pinimg.com/originals/65/da/83/65da839d955631b5a9f431ad8f92d8f0.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-content {
  font-family: 'Crimson Text', serif;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: center;
  height: 100%;
  padding-bottom: 30px;
}

.cursive {
  font-family: 'Parisienne', cursive;
  font-size: 45px;
}

.heading{
  padding-top: 30px;
}

.eucalyptus {
  width: 20%;
  height: auto;
  margin-bottom: 20px;
}

/****************************/
/*   Header and Navigation  */
/****************************/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
  text-decoration: none;
  font-family: 'Crimson Text', serif;
  background: rgba(255, 255, 255, 0.8);
}

.nav {
  text-decoration: none;
  color: black;
}

.nav:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: center;
  height: 630px;
  width: 100%;
}

/****************************/
/*      Home Component      */
/****************************/

.slider {
  position: relative;
  width: 500px;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 100px;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.arrow {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: white;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: white;
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color: white;
}

/****************************/
/*    Location Component    */
/****************************/

.address {
  font-size: 20px;
}

.location {
  font-family: 'Crimson Text', serif;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  text-align: center;
  padding-bottom: 600px;
}

/****************************/
/*  Accomodations Component */
/****************************/

.book {
  padding: 10px;
  font-family: 'Crimson Text', serif;
  font-size: 15px;
  background-color: #9DCEAA;
  color: white;
  margin-top: 20px;
}

.book:hover {
  background-color: white;
  color: navy;
}

span.address {
  padding: 25px;
}

/****************************/
/*    Registry Component    */
/****************************/

.logo {
  width: 30%;
  height: auto;
  padding: 25px;
  margin-bottom: 40px;
}

.logo:hover {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  cursor: pointer;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

/****************************/
/*  Wedding Party Component */
/****************************/

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 0.5px solid black;
}

/****************************/
/*      RSVP Component      */
/****************************/

.forms {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  width: 40%;
}

input[type=text] {
  height: 20px;
  width: 50%;
  margin: 5px;
}

input[type=password] {
  width: 50%;
  height: 20px;
  margin: 5px
}

/****************************/
/*    Guestlist Component   */
/****************************/

.table-container {
  padding: 0 25px 50px 25px;
}

.responsive-table {
  border-collapse: collapse;
  width: 100%;
  min-width: 245px;
  box-shadow: 0 4px 25px -10px #333;
}

td,
th {
  text-align: left;
  border: 1px solid #dddddd;
  padding: 8px;
}

th {
  background-color: #ccc7b9;
  color: black;
  border: 1px solid #999;
}

tr {
  transition: background-color ease 80ms;
}

tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.07);
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.edit-icon {
  text-align: center;
}

.edit-icon:hover {
  color: hotpink;
}

/****************************/
/*    Guest RSVP Component  */
/****************************/

.guest-rsvp {
  background: white;
  height: 80%;
  width: 80%;
}
